
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
<title>EMG Treasury Dashboard</title>

<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />



<script type="text/javascript" src="/static/jquery.js"></script>

<script type="text/javascript">

function menuSelection()
{
	
}



function selectZoom(id)
{
//	oldZoom = document.addWidgetForm.zoom.value;
//	document.getElementById(oldZoom).style.fontWeight = 'normal';

	document.getElementById('hour').style.fontWeight = 'normal';
	document.getElementById('day').style.fontWeight = 'normal';
	document.getElementById('week').style.fontWeight = 'normal';
	document.getElementById('month').style.fontWeight = 'normal';
	document.getElementById('year').style.fontWeight = 'normal';
	document.getElementById(id).style.fontWeight = 'bold';
	document.addWidgetForm.zoom.value = id;
}


function collapseMenus()
{	
//	document.getElementById('addWidgetMenu').style.visibility = 'collapse';
//	document.getElementById('exportMenu').style.visibility = 'collapse';
//	document.getElementById('manageKitMenu').style.visibility = 'collapse';	
	
	document.getElementById('addWidgetMenu').style.display = 'none';
	document.getElementById('exportMenu').style.display = 'none';
	document.getElementById('manageKitMenu').style.display = 'none';	
}


function cancelAddWidget()
{
	$("#addWidgetMenu").slideToggle("slow");
	$(this).toggleClass("active");
}

function cancelExport()
{
	$("#exportMenu").slideToggle("slow");
	$(this).toggleClass("active");
}

function cancelKit()
{
	$("#manageKitMenu").slideToggle("slow");
	$(this).toggleClass("active");	
}


function displayContentOptions(selectedOption)
{
	document.getElementById('stocksListDiv').style.display = 'none';
	document.getElementById('bondsListDiv').style.display = 'none';
	document.getElementById('actualsListDiv').style.display = 'none';
	document.getElementById('investmentsListDiv').style.display = 'none';
	
	if (selectedOption == 'stocks')
		document.getElementById('stocksListDiv').style.display = 'inline';
	else if (selectedOption == 'bonds')
		document.getElementById('bondsListDiv').style.display = 'inline';
	else if (selectionOption = 'actuals')
		document.getElementById('actualsListDiv').style.display = 'inline';
	else if (selectionOption = 'investments')
		document.getElementById('investmentsListDiv').style.display = 'inline';
		
}




$(document).ready(function(){
//	$("#addWidgetMenu").slideToggle("fast");
//	$("#exportMenu").slideToggle("fast");
//	$("#manageKitMenu").slideToggle("fast");
	

	$(".addWidget").click(function(){
		
		collapseMenus();
		document.getElementById('addWidgetMenu').style.display = '';
//		document.getElementById('addWidgetMenu').style.visibility = 'visible';								   
//		$("#addWidgetMenu").slideToggle("slow");
		$("#addWidgetMenu").show();
	});
		
	
	$(".exportWidget").click(function(){

		collapseMenus();
		document.getElementById('exportMenu').style.display = '';		
//		document.getElementById('exportMenu').style.visibility = 'visible';									  
//		$("#exportMenu").slideToggle("slow");
		$("#exportMenu").show();
	});
	

	$(".manageKit").click(function(){
		collapseMenus();
		document.getElementById('manageKitMenu').style.display = '';
//		document.getElementById('manageKitMenu').style.visibility = 'visible';
//		$("#manageKitMenu").slideToggle("slow");
		$("#manageKitMenu").show();
	});
	
	 
});
</script>



</head>
<body onLoad="javascript:collapseMenus()">
<div id="header">
	<div id="logo">
		<h1><a href="#">EMG Treasury Dashboard</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li><a href="javascript:menuSelection()" class="addWidget">Add Widget</a></li>
			<li><a href="javascript:menuSelection()" class="exportWidget">Export</a></li>
			<li class="last"><a href="javascript:menuSelection()" class="manageKit">Manage Kit</a></li>
            
		</ul>
	</div>
</div>
<!-- start page -->

<div id="page">
    <div id="addWidgetMenu">
    <form name="addWidgetForm" action="addWidget/" method="post">
    <table border="0" height="75">
    <tr>
    	<td> 
            <select size="4" name="graphType">
                <option value="table">Table</option>
                <option value="barGraph">Bar Graph</option>
                <option value="histogram">Histogram</option>
                <option value="pieChart">Pie Chart</option>
                <option value="lineGraph">Line Graph</option>
            </select>
            &nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <select size="4" name="graphContent" multiple onChange="javascript:displayContentOptions(this.value)">
                <option value="stocks">Stocks</option>
                <option value="bonds">Bonds</option>
                <option value="actuals">Actuals</option>
                <option value="investments">Investments</option>
            </select>
            &nbsp;&nbsp;&nbsp;
        </td>
        <td>
	       	<div id="stocksListDiv">
            <select size="4" name="stocksGraphSymbol" multiple>           			
            {% for StockPrice in stockList %}
                <option value= "{{ StockPrice.symbol }}">{{ StockPrice.symbol }}</option>
            {% endfor %}            
            </select>
            </div>
            
            <div id="bondsListDiv" style="display:none">
            <select size="4" name="bondsGraphSymbol" multiple>    
                <option vlaue="test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>            
            </select>
            </div>

            <div id="actualsListDiv" style="display:none">
            <select size="4" name="actualsGraphSymbol" multiple>    
                <option vlaue="test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>            
            </select>
            </div>
           
             <div id="investmentsListDiv" style="display:none">
            <select size="4" name="investmentsGraphSymbol" multiple>    
                <option vlaue="test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>            
            </select>
            </div>            
        </td>
        <td width="25">&nbsp;
        	
        </td>
        <td align="right">
        	<br>
				<input type="text" name="startDate">
 			<br><br>
				<input type="text" name="startDate">
            <br><br>
            <b>Zoom:</b>&nbsp;
            <span id="hour"><a href="javascript:selectZoom('hour')">Hour</a></span> |
            <span id="day"><a href="javascript:selectZoom('day')">Day</a></span> |
            <span id="week" style="font-weight:bold"><a href="javascript:selectZoom('week')">Week</a></span> |
            <span id="month"><a href="javascript:selectZoom('month')">Month</a></span> |
            <span id="year"><a href="javascript:selectZoom('year')">Year</a></span>
            <br><br>
            <input type="hidden" name="zoom" value="week">
        </td>            
    </tr>    
    <tr>
    	<td colspan="5" align="right">
        	<input type="button" name="clear" value="Clear" class="btn">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" name="cancel" value="Cancel" onClick="javascript:cancelAddWidget()" class="btn">
            <input type="submit" name="addWidget" value="Add Widget" class="btn">
        </td>
    </tr>
    </table>
    </form>
    </div>
	
    
    <!-- Export Menu-->
    <div id="exportMenu">
    <form name="exportForm" action="" method="post">
    <table border="0" height="75">
    <tr>
    	<td> 
        	<font style="font-family:Verdana, Geneva, sans-serif; font-size:18px">
        		Select the widget(s) you are interested in exporting, then click on the desired format.
        	</font>
        </td>        
    </tr>    
    <tr>
    	<td align="right">
        	<input type="button" name="cancel" value="Cancel" onClick="javascript:cancelExport()" class="btn">
        	&nbsp;&nbsp;&nbsp;Export to
            <input type="Submit" name="excel" value="Excel" class="btn">
            <input type="Submit" name="pdf" value="PDF" class="btn">
            <input type="Submit" name="png" value="PNG" class="btn">
        </td>   
    </tr>   
    </table>
    </form>
    </div>
    
    <!-- Manage Kit Menu -->
    <div id="manageKitMenu">
    <form name="manageKitForm" action="" method="post">
    <table border="0" height="75">
    <tr>
    	<td valign="top"> 
        	<font style="font-family:Verdana, Geneva, sans-serif; font-size:14px;">
	        	Select the widget(s) you are intrested in adding into your new <br>
    	        kit, then name your kit in the text box, and press "Make Kit".        
            </font>
        </td>
        <td width="20">&nbsp;</td>        
        <td>
        	<font style="font-family:Verdana, Geneva, sans-serif; font-size:12px">
	        	Name of new Kit:
            </font>
            <br>
    	    <input type="text" name="kitName" width="30">             
            <br><br><br>
        </td>
    </tr>    
    <tr>
    	<td colspan="3" align="right">
        	<input type="button" name="applyChanges" value="Apply Changes" class="btn">
            <input type="button" name="cancel" value="Cancel" onClick="javascript:cancelKit()" class="btn">
            <input type="button" name="makeKit" value="Make Kit" class="btn">
        </td>
    </tr>
    </table>
    </form>
    </div>
    
    


	<!-- start sidebar1 -->
    <!---
	<div id="sidebar1" class="sidebar">
		<ul>
			<<li id="search">
				<h2>Search</h2>
				<form id="searchform" method="get" action="">
					<div>
						<input type="text" name="s" id="s" size="15" />
						<br />
						<input name="submit" type="submit" value="Search" id="submit" />
					</div>
				</form>
			</li>
			<li id="calendar">
				<h2>Calendar</h2>
				<div id="calendar_wrap">
					<table summary="Calendar">
						<caption>
						November 2008
						</caption>
						<thead>
							<tr>
								<th abbr="Monday" scope="col" title="Monday">M</th>
								<th abbr="Tuesday" scope="col" title="Tuesday">T</th>
								<th abbr="Wednesday" scope="col" title="Wednesday">W</th>
								<th abbr="Thursday" scope="col" title="Thursday">T</th>
								<th abbr="Friday" scope="col" title="Friday">F</th>
								<th abbr="Saturday" scope="col" title="Saturday">S</th>
								<th abbr="Sunday" scope="col" title="Sunday">S</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td abbr="October" colspan="3" id="prev"><a href="#" title="View posts for October 2008">&laquo; Oct</a></td>
								<td class="pad">&nbsp;</td>
								<td abbr="December" colspan="3" id="next"><a href="3" title="View posts for October 2008">Dec &raquo;</a></td>
							</tr>
						</tfoot>
						<tbody>
							<tr>
								<td colspan="3" class="pad">&nbsp;</td>
								<td>1</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
							</tr>
							<tr>
								<td>5</td>
								<td>6</td>
								<td>7</td>
								<td>8</td>
								<td>9</td>
								<td>10</td>
								<td>11</td>
							</tr>
							<tr>
								<td><a href="#">12</a></td>
								<td>13</td>
								<td>14</td>
								<td>15</td>
								<td>16</td>
								<td>17</td>
								<td>18</td>
							</tr>
							<tr>
								<td>19</td>
								<td>20</td>
								<td>21</td>
								<td>22</td>
								<td>23</td>
								<td id="today">24</td>
								<td>25</td>
							</tr>
							<tr>
								<td>26</td>
								<td>27</td>
								<td>28</td>
								<td>29</td>
								<td>30</td>
								<td class="pad" colspan="2">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
			<li id="categories-1">
				<h2>Categories</h2>
				<ul>
					<li><a href="#" title="View all posts filed under Uncategorized">Uncategorized</a> (3) </li>
					<li><a href="#" title="View all posts filed under Lorem Ipsum">Lorem Ipsum</a> (42) </li>
					<li><a href="#" title="View all posts filed under Urna Congue Rutrum">Urna Congue Rutrum</a> (28) </li>
					<li><a href="#" title="View all posts filed under Augue Praesent">Augue Praesent</a> (55) </li>
					<li><a href="#" title="View all posts filed under Vivamus Fermentum">Vivamus Fermentum</a> (13) </li>
				</ul>
			</li>
			<li id="archives">
				<h2>Archives</h2>
				<ul>
					<li><a href="#">November 2008</a>&nbsp;(24)</li>
					<li><a href="#">October 2008</a>&nbsp;(31)</li>
					<li><a href="#">September 2008</a>&nbsp;(30)</li>
					<li><a href="#">August 2008</a>&nbsp;(31)</li>
					<li><a href="#">July 2008</a>&nbsp;(31)</li>
					<li><a href="#">June 2008</a>&nbsp;(30)</li>
					<li><a href="#">May 2008</a>&nbsp;(31)</li>
					<li><a href="#">April 2008</a>&nbsp;(30)</li>
					<li><a href="#">January 2008</a>&nbsp;(31)</li>
				</ul>
			</li>
		</ul>
	</div>
    --->
</div>
	<!-- end sidebar1 -->
	<!-- start content -->

	<div id="widgetList">
	<table width="100%">
    	<tr>
        	<td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
	</table>
	</div>
	<!-- end content -->

<!-- end page -->

</body>
</html>
