
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
<title>EMG Treasury Dashboard</title>

<link rel="stylesheet" href="/static/style.css" type="text/css" />
<link rel="stylesheet" href="/static/jquery.autocomplete.css" type="text/css" />
<link rel="stylesheet" href="/static/jquery.selectlist-0.1.2/css/selectlist.css" type="text/css" />

<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery.selectlist-0.1.2/scripts/jquery.selectlist.js"></script>
<script type="text/javascript" src="/static/jquery.autocomplete.js"></script>

<script type="text/javascript">

function menuSelection(){}


function updateQueryInfo(source)
{	
	localQueryInfo = document.addWidgetForm.queryInfo.value;
	localQueryInfo += "stock:" + document.getElementById(source).value + ",";	
	document.addWidgetForm.queryInfo.value = localQueryInfo;		
}




function selectZoom(id)
{
	document.getElementById('hour').style.fontWeight = 'normal';
	document.getElementById('day').style.fontWeight = 'normal';
	document.getElementById('week').style.fontWeight = 'normal';
	document.getElementById('month').style.fontWeight = 'normal';
	document.getElementById('year').style.fontWeight = 'normal';
	document.getElementById(id).style.fontWeight = 'bold';
	document.addWidgetForm.zoom.value = id;
}

function removeAllMenuHighlights() {
	$(".addWidget").removeClass('menuitemselected');
	$(".exportWidget").removeClass('menuitemselected');
	$(".manageKit").removeClass('menuitemselected');
}

function collapseMenus()
{
	removeAllMenuHighlights();
	document.getElementById('tabbody').style.display = 'none';
	document.getElementById('addWidgetMenu').style.display = 'none';
	document.getElementById('exportMenu').style.display = 'none';
	document.getElementById('manageKitMenu').style.display = 'none';	
}


function cancelAddWidget()
{
	removeAllMenuHighlights();
	$("#tabbody").slideToggle("fast");
	$(this).toggleClass("active");
}


function cancelExport()
{
	removeAllMenuHighlights();
	$("#tabbody").slideToggle("fast");
	$(this).toggleClass("active");
}


function cancelKit()
{
	removeAllMenuHighlights();
	$("#tabbody").slideToggle("fast");
	$(this).toggleClass("active");	
}


function displayContentOptions(selectedOption)
{
	document.getElementById('stocksListDiv').style.display = 'none';
	document.getElementById('bondsListDiv').style.display = 'none';
	document.getElementById('actualsListDiv').style.display = 'none';
	document.getElementById('investmentsListDiv').style.display = 'none';
	
	if (selectedOption == 'stocks')
		document.getElementById('stocksListDiv').style.display = 'inline';
	else if (selectedOption == 'bonds')
		document.getElementById('bondsListDiv').style.display = 'inline';
	else if (selectionOption = 'actuals')
		document.getElementById('actualsListDiv').style.display = 'inline';
	else if (selectionOption = 'investments')
		document.getElementById('investmentsListDiv').style.display = 'inline';
		
}

var data = "";
</script>

{% for StockPrice in stockList %}
<script type="text/javascript">
	data += "{{ StockPrice.symbol }} "
</script>	
{% endfor %}

<script type="text/javascript">



$(document).ready(function(){
						   
	$('select#stocksGraphSymbol').selectList('div#addSelections',{ 
		addAnimate: function (item, callback) { 
			$(item).slideDown(500, callback); 
			updateQueryInfo('stocksGraphSymbol');}, 
		
		removeAnimate: function (item, callback) { 
			$(item).slideUp(500, callback);} 
	});   
	
	

//  var data = "Core Selectors Attributes Traversing Manipulation CSS Events Effects Ajax Utilities".split(" ");
	data = data.split(" ");	 
	$("#stocksGraphSymbolSearchBox").autocomplete(data);

	
	
	
	$(".addWidget").click(function(){		
		collapseMenus();
		$('#tabbody').show();
		$("#addWidgetMenu").show();
		$('.addWidget').addClass('menuitemselected');
	});
		
	
	$(".exportWidget").click(function(){
		collapseMenus();
		$('#tabbody').show();
		$("#exportMenu").show();
		$('.exportWidget').addClass('menuitemselected');
	});
	

	$(".manageKit").click(function(){
		collapseMenus();
		$('#tabbody').show();
		$("#manageKitMenu").show();
		$('.manageKit').addClass('menuitemselected');
	});
	
	 
});
</script>
</head>

<body>
	<div id="header">
		<h1 id="logo">EMG Treasury Dashboard</h1>
		<div id="menu">
			<a href="javascript:menuSelection()" class="addWidget">Add Widget</a>
			<a href="javascript:menuSelection()" class="exportWidget">Export</a>
			<a href="javascript:menuSelection()" class="manageKit">Manage Kit</a>
		</div>
		<hr style="clear:both; visibility:hidden" />
	</div>

	<div id="tabbody">
		<!-- Add Menu -->
	    <div id="addWidgetMenu" style="display:none">
	    	<form name="addWidgetForm" action="addWidget/" method="post">
		    <table border="0" height="75">
		    <tr>
		    	<td valign="top"> 
		            <select size="4" name="graphType" id="graphType">
		                <option value="barGraph">Bar Graph</option>
		                <option value="lineGraph">Line Graph</option>
		                <option value="pieChart">Pie Chart</option>
		                <option value="table">Table</option>                
		                <option value="histogram">Ticker</option>
		            </select>
		            &nbsp;&nbsp;&nbsp;
		        </td>
		        <td valign="top">
		            <select size="4" name="graphContent" id="graphContent" onChange="javascript:displayContentOptions(this.value)" multiple>
		                <option value="stocks">Stocks</option>
		                <option value="bonds">Bonds</option>
		                <option value="actuals">Actuals</option>
		                <option value="investments">Investments</option>
		            </select>
		            &nbsp;&nbsp;&nbsp;
		        </td>
		        <td valign="top">
			       	<div id="stocksListDiv">
		            <select size="4" name="stocksGraphSymbol" id="stocksGraphSymbol" style="width:107px" multiple>           			
		            {% for StockPrice in stockList %}
		                <option value= "{{ StockPrice.symbol }}">{{ StockPrice.symbol }}</option>
		            {% endfor %}            
		            </select>
		            <br>
		            <input type="text" name="stocksGraphSymbolSearch" id="stocksGraphSymbolSearchBox" size="10">
		            </div>
            
		            <div id="bondsListDiv" style="display:none">
		            <select size="4" name="bondsGraphSymbol" id="bondsGraphSymbol" style="width:107px" multiple>    
		                <option vlaue="test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>            
		            </select>
		            </div>

		            <div id="actualsListDiv" style="display:none">
		            <select size="4" name="actualsGraphSymbol" style="width:107px" multiple>    
		                <option vlaue="test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>            
		            </select>
		            </div>
           
		             <div id="investmentsListDiv" style="display:none">
		            <select size="4" name="investmentsGraphSymbol" id="investmentGraphSymbol" style="width:107px" multiple>    
		                <option vlaue="test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>            
		            </select>
		            </div>            
		        </td>
		        <td width="25">&nbsp;
        	
		        </td>
		        <td align="right">
		        	<!--
		            <br>
						<input type="text" name="startDate">
		 			<br><br>
						<input type="text" name="startDate">
		            -->
           
            

		            <div id="addSelections" style="width:230px;height:100px;">
					</div>

            
		            <br><br>
		            <b>Zoom:</b>&nbsp;
		            <span id="hour"><a href="javascript:selectZoom('hour')">Hour</a></span> |
		            <span id="day"><a href="javascript:selectZoom('day')">Day</a></span> |
		            <span id="week"><a href="javascript:selectZoom('week')">Week</a></span> |
		            <span id="month"><a href="javascript:selectZoom('month')">Month</a></span> |
		            <span id="year"><a href="javascript:selectZoom('year')">Year</a></span>
		            <br><br>
		            <input type="hidden" name="zoom" value="week">
		            <input type="hidden" name="queryInfo" value="">
		            <input type="hidden" name="dashboardID" value="{{ dashboard.pk }}">
		        </td>            
		    </tr>    
		    <tr>
		    	<td colspan="5" align="right">
		        	<input type="button" name="clear" value="Clear" class="btn">
		            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            <input type="button" name="cancel" value="Cancel" onClick="javascript:cancelAddWidget()" class="btn">
		            <input type="submit" name="addWidget" value="Add Widget" class="btn">
		        </td>
		    </tr>
		    </table>
		    </form>
	    </div>
	
    
	    <!-- Export Menu-->
	    <div id="exportMenu" style="display:none">
	    <form name="exportForm" action="" method="post">
	    <table border="0" height="75">
	    <tr>
	    	<td> 
        		<p>Select the widget(s) you are interested in exporting, then click on the desired format.</p>
	        </td>        
	    </tr>    
	    <tr>
	    	<td align="right">
	        	<input type="button" name="cancel" value="Cancel" onClick="javascript:cancelExport()" class="btn">
	        	&nbsp;&nbsp;&nbsp;Export to
	            <input type="Submit" name="excel" value="Excel" class="btn">
	            <input type="Submit" name="pdf" value="PDF" class="btn">
	            <input type="Submit" name="png" value="PNG" class="btn">
        
		<br />
	            <a href="http://127.0.0.1:8000/dashboard/export_widgets?first=1">Sample Export EIX To Excel</a>
		<br />
	            <a href="http://127.0.0.1:8000/dashboard/export_widgets?first=3">Sample Export OMG To Excel</a>
		<br />
	            <a href="http://127.0.0.1:8000/dashboard/export_pdf?first=1">Sample Export EIX To PDF</a>
		<br />
	            <a href="http://127.0.0.1:8000/dashboard/export_pdf?first=3">Sample Export OMG To PDF</a>
		<br />
	        </td>   
	    </tr>   
	    </table>
	    </form>
	    </div>
    
	    <!-- Manage Kit Menu -->
	    <div id="manageKitMenu" style="display:none">
	    <form name="manageKitForm" action="" method="post">
	    <table border="0" height="75">
	    <tr>
	    	<td valign="top"> 
		        <p>Select the widget(s) you are interested in adding into your new kit, then name your kit in the text box, and press "Make Kit".</p>
	        </td>
	        <td width="20">&nbsp;</td>        
	        <td>
	        	Name of new Kit:
	            <br>
	    	    <input type="text" name="kitName" width="30">             
	            <br><br><br>
	        </td>
	    </tr>    
	    <tr>
	    	<td colspan="3" align="right">
	        	<input type="button" name="applyChanges" value="Apply Changes" class="btn">
	            <input type="button" name="cancel" value="Cancel" onClick="javascript:cancelKit()" class="btn">
	            <input type="button" name="makeKit" value="Make Kit" class="btn">
	        </td>
	    </tr>
	    </table>
	    </form>
	    </div>
    
	    <!-- Manage Kit Menu -->
	    <div id="manageKitMenu" style="display:none">
	    	<form name="manageKitForm" action="" method="post">
		    <table border="0" height="75">
		    <tr>
		    	<td valign="top"> 
			        <p>Select the widget(s) you are intrested in adding into your new kit, then name your kit in the text box, and press "Make Kit".</p>
		        </td>
		        <td width="20">&nbsp;</td>        
		        <td>
		        	Name of New Kit:
		            <br>
		    	    <input type="text" name="kitName" width="30">             
		            <br><br><br>
		        </td>
		    </tr>    
		    <tr>
		    	<td colspan="3" align="right">
		        	<input type="button" name="applyChanges" value="Apply Changes" class="btn">
		            <input type="button" name="cancel" value="Cancel" onClick="javascript:cancelKit()" class="btn">
		            <input type="button" name="makeKit" value="Make Kit" class="btn">
		        </td>
		    </tr>
		    </table>
		    </form>
	    </div>
	
	</div>
	
	<!-- start content -->
	<div id="content">
		{% if no_widgets %}
		<p style="text-align: center">You haven't added any widgets yet. <a class="addWidget" href="javascript:menuSelection()">Add some</a></p>
		{% else %}
		<div id="widgetList">
			<table>
		    	<tr>
					<td valign="top" width="410">
		        	{% for b in left_widget_bodies %}
		        	{{ b }}
		            {% endfor %}
					</td>
					<td valign="top" width="310">
		        	{% for b in right_widget_bodies %}
		        	{{ b }}
		            {% endfor %}
					</td>
		        </tr>
			</table>
		</div>
		{% endif %}
	</div>
	<!-- end content -->
	
	<div id="footer">
		<p>Courtesy, <em>Team Volt</em>. 2010.</p>
	</div>
</body>
</html>
