<script type="text/javascript" src="/static/widgetjs/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/widgetjs/jquery-ui-1.7.1.custom.min.js"></script>
<link rel="stylesheet" href="/static/widgetcss/redmond/jquery-ui-1.7.1.custom.css" type="text/css" />
<link rel="stylesheet" href="/static/widgetcss/ui.slider.extras.css" type="text/css" />
<link rel="stylesheet" href="/static/widgetcss/widget-ui.css" type="text/css" />

<script type="text/javascript">
	//Convert datetime strings to a user-appropriate format
	function clean_date(date)
	{
		datevalues = date.split(" ");
		calvals = datevalues[0].split("-");
		timevals = datevalues[1].split(":");
		datevalues = calvals;
		if('{{typedwidget.zoom}}' == 'hours')
		{
			//Add a time string for the date into valdates showing year, month, day, and hour.
			var hour = timevals[0];
			if(hour == 0)
			{
				hour = 12
				timestamp = 'am';
			}
			else if(hour == 12)
			{
				timestamp = 'pm';
			}
			else if(hour > 12)
			{
				hour = hour-12;
				var timestamp = 'pm';
			}
			else
			{
				var timestamp = 'am';
			}
			return (datevalues[1] + "/" +datevalues[2] + "/" + datevalues[0] + " " + hour + " " + timestamp);
		}
		else if('{{typedwidget.zoom}}' == 'days')
		{
			return (datevalues[1] + "/" +datevalues[2] + "/" + datevalues[0]);
		}
		else if('{{typedwidget.zoom}}' == 'weeks')
		{
			return (datevalues[1] + "/" +datevalues[2] + "/" + datevalues[0]);
		}
		else if('{{typedwidget.zoom}}' == 'months')
		{
			return (datevalues[1] + "/" + datevalues[0]);
		}
		else //Zoom = years
		{
			return (datevalues[0]);
		}
	}

	//Find the location in valDates of the given date
	function find_date(date, datesarray, start, len)
	{
		for(i=0;i<datesarray.length;i++)
		{;
			if(datesarray[i]==date)
			{
				return i;
			}
		}
		//If this is the start date, and no index was found, set the handles position to 0
		if(start==true)
		{
			return 0;
		}
		//If this is the end date, set the handles position to whatever length was passed in
		else
		{
			return len-1;
		}
	}

	function update_graph(pk)
	{
		var i = 0;
		$('#linewidget'+pk+' .chunkimg').each(function() {
			var n = $(this).attr('src').split("&refresh", 1)+"&refresh=" + refreshtag;
			console.log(n);
			$(this).attr('src', n);
			i++;
		})
	
		var refreshtag = Math.floor(Math.random()*10001);
		i = 0;
		$('#linewidget'+pk+' .chunkimg').each(function() {
			$(this).attr('src', $(this).attr('src').split("&refresh", 1)+"&refresh=" + refreshtag);
			i++;
		})
	}

	$(document).ready(function() {
		//var valDates = ['2006', '2007', '2008', '2009', '2010'];
		var valDates = [];
		//Remove the brackets from the list to get the list of dates
		var datelisttxt = '{{dates}}'.split("[")[1].split("]")[0];
		var tempdates = datelisttxt.split(",")
		//Parse list of dates and load each into valDates
		for (date in tempdates) {
			if(tempdates[date]!="")	{
				datevalues = tempdates[date].split(";")[1].split("&")[0].split("T");
				valDates.push(datevalues[0]+" "+datevalues[1]);
			}
		}

		//new range slider
		var startval = find_date("{{typedwidget.startdate}}", valDates, true, 0);
		var endval = find_date("{{typedwidget.enddate}}", valDates, false, valDates.length);
		$("#linewidget{{ pk }} #range-slider").slider({
			range: true,
			min: 0,
			max: valDates.length - 1,
			values: [startval, endval],
			slide: function(event, ui) {
				$("#linewidget{{ pk }} #date").val(clean_date(valDates[ui.values[0]]) + ' - ' + clean_date(valDates[ui.values[1]]));
			},
			//Set change to update the widget via python when the sliders change
			change: function(event, ui) {
				var startdate = valDates[$("#linewidget{{ pk }} #range-slider").slider("values", 0)];
				var enddate = valDates[$("#linewidget{{ pk }} #range-slider").slider("values", 1)];
				$.post('/dashboard/slidewidgettimes', {pk: "{{widget.pk}}", start: startdate, end: enddate}, function(data){console.log("Data Loaded: " + data);});
				update_graph({{ pk }});
			}
		});

		$("#linewidget{{ pk }} #date").val(clean_date(valDates[$("#linewidget{{ pk }} #range-slider").slider("values", 0)]) + ' - ' + clean_date(valDates[$("#linewidget{{ pk }} #range-slider").slider("values", 1)]));

		//delete widget
		/*$("#linewidget{{ pk }} .linewidget .delete").click(function(){
					$(this).parents(".linewidget").animate({ opacity: 'hide' }, "slow");
					$.post('/dashboard/removewidget', {pk: "{{widget.pk}}"}, function(data){alert("Data Loaded: " + data);});
		});*/
		
		
		
		var pk = {{ pk }};
		
		// Set up the basic line graph's initial images
		var width = $('#linewidget'+pk+' .linegraphchunkwrapper').width()-20;
		var height = $('#linewidget'+pk+' .linegraphchunkwrapper').height()-20;
		var i = 0;
		$('#linewidget'+pk+' .chunkimg').each(function() {
			$(this).attr('src', "/dashboard/graph_chunk/{{widget.id}}?chunkplace=" + i + "&chunkcount=3&ytop=20&ybottom=0&width=" + width + "&height=" + height);
			i++;
		})
		
		// Set up the second axis if appropriate
		if("{{typedwidget.secondunit}}" != "null")
		{
			console.log("second unit");
			var width = $('#linewidget'+pk+' .widgetgraph').width();
			var height = $('#linewidget'+pk+' .widgetgraph').height();
			//document.write('<img id="secondyaxis" onMouseUp="return update_graph({{ pk }})" src = "/dashboard/graph_chunk/{{widget.id}}?chunkplace=-1&chunkcount=3&ytop=20&ybottom=0&width=' + width + '&height=' + height + '"/>');
		}
	});
</script>
<table id="linewidget{{ pk }}" class="linewidget" style="padding: 0; width: 100%;">
	<!-- widget placeholder -->
	<tr>
		<td class="linegraphchunkwrapper" style="height: 200px">
			<img class="chunkimg" style="margin:0; padding:0; float:left" />
			<img class="chunkimg" style="margin:0; padding:0; float:left" />
			<img class="chunkimg" style="margin:0; padding:0; float:left" />
			<img class="chunkimg" style="margin:0; padding:0;" />
		</td>
	</tr>
	<!-- new range slider -->
	<tr>
		<td style="">
			<div id="range-slider" style="top:0;"></div>
		</td>
	</tr>
	<tr>
		<td>
			<form id="slidermeta{{ pk }}" style="block:inline">
				<label for="date">Date Range:</label>
				<input type="text" id="date" style="border:0; color:#f6931f; font-weight:bold; width: 30em" />
			</form>
		</td>
	</tr>
</table>