<html>
<head>
	<script language="JavaScript">
	document.onmousemove = mouse_move;
	document.onmouseup = mouse_up;
	var drag_object = null;
	document.images[0].onmouseup = update_graph();
	document.images[1].onmouseup = update_graph();
	document.images[2].onmouseup = update_graph();

	function mouse_move(ev)
	{
		ev = ev || window.event;
		var mouse_pos = mouse_coords(ev);
		if(drag_object)
		{
			update_graph();
		}
	}

	function mouse_coords(ev)
	{
		if(ev.pageX || ev.pageY)
		{
			//Handle non IE browsers
			return{x:ev.pageX, y:ev.pageY};
		}
			//Handle IE
		return {
			x:ev.clientX + document.body.scrollLeft - document.body.clientLeft,
			y:ev.clientY + document.body.scrollTop - document.body.clientTop
		};
	}

	function mouse_up(ev)
	{
		drag_object = null;
	}

	function drag_object(object)
	{
		object.onmousedown = function(){
			drag_object = this;
			}
	}



	/*
	function update_graph()
	{
		if(document.images)
		{
			setTimeout('get_chunk()', 1000);
		}
	}
	*/
	function update_graph()
	{
		var refreshtag = Math.floor(Math.random()*10001)
		for(var i = 0; i<=2; i++)
		{
			if(document.images[i])
			{
				document.images[i].src = document.images[i].src.split("&refresh", 1)+"&refresh=" + refreshtag;
			}
		}
		//setTimeout('get_chunk()', 1000);
	}
	</script>
</head>
<body>
	<script language="JavaScript">
		//update_graph();
	</script>
	<DIV STYLE="{z-index:1; height: 800px; width: 800px; background-color:#A7B8CB;}">
	</DIV>
	<DIV STYLE="{position: absolute; top: 50; left: 100; z-index:2;}">
	<form
	<img onMouseUp="return update_graph()" src="http://127.0.0.1:8000/dashboard/graph_chunk?model1=StockPrice&model1prop=EIX&model2=StockPrice&model2prop=OMG&chunkplace=1&chunkcount=3&lefttime={{widget.startdate}}&righttime={{widget.enddate}}"/><img onMouseUp="return update_graph()" src="http://127.0.0.1:8000/dashboard/graph_chunk?model1=StockPrice&model1prop=EIX&model2=StockPrice&model2prop=OMG&chunkplace=2&chunkcount=3&lefttime={{widget.startdate}}&righttime={{widget.enddate}}"/><img onMouseUp="return update_graph()" src="http://127.0.0.1:8000/dashboard/graph_chunk?model1=StockPrice&model1prop=EIX&model2=StockPrice&model2prop=OMG&chunkplace=3&chunkcount=3&lefttime={{widget.startdate}}&righttime={{widget.enddate}}"/>
	</DIV>

	<DIV STYLE="{position: absolute; top:550; left: 100; z-index:3;}">
		<table border="0">
		<tr>
		  <td>
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	<a href="url">Delete</a>
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="url">Share</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="url">Duplicate</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		  <td>
		</td>
		</tr>
		</table>
	</DIV>
	<DIV STYLE="{z-index:4; height:30px; width:40px; background-color:#000000; position:absolute; top: 550; left: 650;}">
			  	<center><a href="default.htm" style='text-decoration: none;'><font color = "#FFFFFF">Edit</font></a></center>
		  </DIV>
<br>
<br>
<ul>
<li>{{widget.startdate}}This is stuff.</li>
</ul>
</body>
</html>